{% if bookings %}
    {% for booking in bookings %}
        <div class="card" style="width: 18rem;">
            <img src="/img/booking/{{ booking.getImgPortada }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>{{ booking.nombre }}</h3>
                <p class="card-text">{{ booking.descripcion }}</p>
                <div class="d-grid gap-2">
                    <a class="btn btn-primary w-100" type="button" href="{{ path('app_reserva',{id:booking.id}) }}">Reserve</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="row" style="display: flex; flex-direction: row; justify-content: center">
        <h5>No se encontraron reservas disponibles</h5>
    </div>
{% endif %}