{% extends 'administrador/base.html.twig' %}

{% block title %}Panel - Mensajes{% endblock %}

{% block body %}
    <div class="" style="background-color: white; box-shadow: 2px 2px 2px rgba(0,0,0,0.3)">
        <div class="row" >
            <div class="col-md-3"></div>
            <div class="col-md-6 pt-5" style=" min-width: 410px !important;">
                <h1>Notificaciones</h1>
            </div>
            <div class="col-md-3"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 p-5" style="text-align: left; min-width: 410px !important;">

                <button class="btn btn-secondary" id="enableNotificacionesBtn"  onclick="enableNotif()" ><i class="bi bi-bell-slash"></i></button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    {% if usuario %}
        <script>navigator.serviceWorker.register("{{ asset('sw.js') }}");</script>
        <script src="{{ asset('notificaciones.js') }}"></script>
    {% endif %}
{% endblock %}
