{% extends 'base.html.twig' %}

{% block title %}PayPal Pay{% endblock %}

{% block body %}
    <div class="row mt-5 mb-5 text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>CheckOut</h1>
            {% if PayPalLink %}
                <a  class="btn btn-primary w-100 mt-5" href="{{ PayPalLink }}">Pagar con PayPal en USD</a>
            {% endif %}
            {% if MercadoPagoLink %}
                <a class="btn btn-primary w-100 mt-5" href="{{ MercadoPagoLink }}">Pagar con MercadoPago en Pesos Argentinos</a>
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>




{% endblock %}