{% extends 'base.html.twig' %}

{% block title %}Hello PayPalController!{% endblock %}

{% block body %}
<div class="row m-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        {%  if pago.solicitudReserva.estado.id == 2 %}


            <h1>¡Genial! gracias por elegirnos</h1>
            <h3>Tu pago fue acreditado con éxito</h3>
            <p>Recibirás un email con los detalles, tambien puedes ver en: <a href="{{ linkDetalles }}">Detalles de mi reserva</a></p>
        {% else %}
            <h1>¡Ups! no pudimos obtener tu pago</h1>
            <p>Recibirás un email con los detalles, tambien puedes volver a intentarlo en: <a href="{{ pago.linkPago }}">Pagar ahora</a></p>
            <p>Ver los detalles de mi reserva: <a href="{{ linkDetalles }}">Detalles</a></p>
        {% endif %}


    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}
